.modalCreateDispo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modalCreateDispo:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.frame1437254022 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 64px 32px 24px;
}
.name2 {
  display: block;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(19, 16, 19, 1);
  position: relative;
}
.frame1437254023 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1437254023 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.frame1437254023 > :global(.__wab_flex-container) > *,
.frame1437254023 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254023 > :global(.__wab_flex-container) > picture > img,
.frame1437254023
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.svg___5P7M6 {
  object-fit: cover;
  max-width: 100%;
  color: #999;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
.svg__bfuXj {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
.modalCreateDispo .svg__bfuXj:hover {
  color: var(--token-_2g_WANLrir5);
}
.hoursCalculator:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formCreate:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  align-self: stretch;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  min-width: 500px;
  flex-shrink: 0;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .formCreate:global(.__wab_instance) {
    min-width: 300px;
  }
}
.event3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__lmOm7 {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
}
.select4:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.select4__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}
.select4
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  outline: none;
}
.pcls_wbFEbMQk8y_S {
  font-size: 14px;
  outline: none;
}
.select4 :global(.ant-select-selector):global(.ant-select-selector) {
  font-size: 14px;
  outline: none;
}
.text__sHeT {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding-left: 0px;
  padding-right: 0px;
}
.title2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__jwwy7 {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
.input2:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
}
.title4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ltz1A {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
.input4:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
}
.generalDescription3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__x5Tgr {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
}
.textAreaInput4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-grow: 1;
}
.startingTaskDispo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__u5AO {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  height: auto;
}
.select15:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.pcls_g5iKiiW1Ik8q {
  font-size: 14px;
  outline: none;
}
.select15__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  font-size: 14px;
  outline: none;
}
.select15
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  font-size: 14px;
  outline: none;
}
.select15 :global(.ant-select-selector):global(.ant-select-selector) {
  font-size: 14px;
  outline: none;
}
.text__afIp9 {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: auto;
  color: #535353;
}
.formStartingTaskDispo:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
}
.dispositifs3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 24px;
  border-left: 1px solid var(--token-_2g_WANLrir5);
}
.text__c3UvU {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  white-space: pre;
  height: auto;
  background: var(--token-zM3FM2gxAGbs);
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.dateStart2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__vO5V5 {
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.timePicker4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.timePicker4__datePickerPopup :global(.ant-picker-panel-container) {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.timePicker4__datePickerPopup :global(.ant-picker-header) {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.timePicker4__datePickerPopup :global(.ant-picker-body) {
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  outline: none;
}
.timePicker4__datePickerPopup :global(.ant-picker-footer) {
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  outline: none;
}
.text__gCsBk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.minBefore:global(.__wab_instance) {
  width: 100%;
  padding-left: 24px;
  min-width: 0;
}
.text__xroTn {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select34:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px;
}
.text__gzMae {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-height: 40px;
  padding: 0px 8px 0px 0px;
}
.position2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qQmJi {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select33:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px;
}
.text__mj5H {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-height: 40px;
  padding: 0px 8px 0px 0px;
}
.freeBox__isEZb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding-left: 24px;
  min-width: 0;
}
.freeBox__isEZb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__isEZb > :global(.__wab_flex-container) > *,
.freeBox__isEZb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__isEZb > :global(.__wab_flex-container) > picture > img,
.freeBox__isEZb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.libele:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___82Q2 {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  padding-right: 0px;
}
.input18:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px 8px;
}
.libele2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__b7Dzq {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  padding-right: 0px;
}
.input19:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px 8px;
}
.generalDescription8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__bjcWb {
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.textAreaInput6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-grow: 1;
}
.dateEnd2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qL0Cn {
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.timePicker5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.timePicker5__datePickerPopup :global(.ant-picker-panel-container) {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.timePicker5__datePickerPopup :global(.ant-picker-header) {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.timePicker5__datePickerPopup :global(.ant-picker-body) {
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  outline: none;
}
.timePicker5__datePickerPopup :global(.ant-picker-footer) {
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  outline: none;
}
.text___1T5Yv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.minBefore2:global(.__wab_instance) {
  width: 100%;
  padding-left: 24px;
  min-width: 0;
}
.text__soOpC {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select35:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px;
}
.text__bCk0I {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-height: 40px;
  padding: 0px 8px 0px 0px;
}
.endingTaskDispo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___5OO8I {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  height: auto;
}
.select21:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.pcls_11yi_dSljRxG {
  font-size: 14px;
  outline: none;
}
.select21__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  font-size: 14px;
  outline: none;
}
.select21
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  font-size: 14px;
  outline: none;
}
.select21 :global(.ant-select-selector):global(.ant-select-selector) {
  font-size: 14px;
  outline: none;
}
.text__rypjs {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: auto;
}
.formEndingTaskDispo:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
}
.dispositifs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 24px;
  border-left: 1px solid var(--token-_2g_WANLrir5);
}
.text__wPaw {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  white-space: pre;
  height: auto;
  background: var(--token-zM3FM2gxAGbs);
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.dateStart3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__aahs4 {
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.timePicker6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.timePicker6__datePickerPopup :global(.ant-picker-panel-container) {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.timePicker6__datePickerPopup :global(.ant-picker-header) {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.timePicker6__datePickerPopup :global(.ant-picker-body) {
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  outline: none;
}
.timePicker6__datePickerPopup :global(.ant-picker-footer) {
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  outline: none;
}
.text___8Y9Mk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.minBefore3:global(.__wab_instance) {
  width: 100%;
  padding-left: 24px;
  min-width: 0;
}
.text__el2Gw {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select36:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px;
}
.text__jkzRe {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-height: 40px;
  padding: 0px 8px 0px 0px;
}
.position3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__a6NL {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select37:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px;
}
.text__utN1E {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-height: 40px;
  padding: 0px 8px 0px 0px;
}
.freeBox__svf1D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding-left: 24px;
  min-width: 0;
}
.freeBox__svf1D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__svf1D > :global(.__wab_flex-container) > *,
.freeBox__svf1D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__svf1D > :global(.__wab_flex-container) > picture > img,
.freeBox__svf1D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.libele3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__nMfnn {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  padding-right: 0px;
}
.input20:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px 8px;
}
.libele4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__eW9 {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  padding-right: 0px;
}
.input21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px 8px;
}
.generalDescription9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__v3Ovm {
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.textAreaInput7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-grow: 1;
}
.dateEnd3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__duhHw {
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.timePicker7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.timePicker7__datePickerPopup :global(.ant-picker-panel-container) {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.timePicker7__datePickerPopup :global(.ant-picker-header) {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.timePicker7__datePickerPopup :global(.ant-picker-body) {
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  outline: none;
}
.timePicker7__datePickerPopup :global(.ant-picker-footer) {
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  outline: none;
}
.text__kcq9E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.minBefore4:global(.__wab_instance) {
  width: 100%;
  padding-left: 24px;
  min-width: 0;
}
.text__z884D {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select38:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px;
}
.text__qaQls {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-height: 40px;
  padding: 0px 8px 0px 0px;
}
.codeTarif:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__tLBlm {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  height: auto;
}
.select14:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.pcls_U6R5glN4Syrz {
  font-size: 14px;
  outline: none;
}
.select14__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  font-size: 14px;
  outline: none;
}
.select14
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  font-size: 14px;
  outline: none;
}
.select14 :global(.ant-select-selector):global(.ant-select-selector) {
  font-size: 14px;
  outline: none;
}
.text__uyV4P {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding-left: 0px;
}
.detailsTarif {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.link__syFnl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-decoration-line: underline;
  font-family: var(--token-gJHLR6JwzS-t);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  min-width: 0;
}
.text__aeOg5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.title6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__x1Tm {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  padding-right: 0px;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  min-height: 40px;
  max-width: 100%;
}
.detailsHeures {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
}
.link__unpvk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-decoration-line: underline;
  font-family: var(--token-gJHLR6JwzS-t);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  min-width: 0;
}
.link__oPzFv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-decoration-line: underline;
  font-family: var(--token-gJHLR6JwzS-t);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  min-width: 0;
}
.text__rOyQj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.nbAgent:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__tgw1G {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  padding-right: 0px;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px 8px;
}
.title7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__hVyg {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px 8px;
}
.detailsTotal {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.link__kLgVo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-decoration-line: underline;
  font-family: var(--token-gJHLR6JwzS-t);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  min-width: 0;
}
.link___2Mua0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-decoration-line: underline;
  font-family: var(--token-gJHLR6JwzS-t);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  min-width: 0;
}
.text___9XouD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.mainMission2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___8YgEc {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select18:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.select18 :global(.ant-select-selector):global(.ant-select-selector) {
  font-size: 14px;
  outline: none;
}
.thematic5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___7KpKy {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  height: auto;
}
.select16:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.pcls_W2d4jtW-QBDI {
  font-size: 14px;
  outline: none;
}
.select16__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  font-size: 14px;
  outline: none;
}
.select16
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  font-size: 14px;
  outline: none;
}
.select16 :global(.ant-select-selector):global(.ant-select-selector) {
  font-size: 14px;
  outline: none;
}
.text___1EyMx {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
}
.thematic6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__krVW {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
  height: auto;
}
.select17:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.pcls_aBx1Xe39ahpZ {
  font-size: 14px;
  outline: none;
}
.select17__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  font-size: 14px;
  outline: none;
}
.select17
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  font-size: 14px;
  outline: none;
}
.select17 :global(.ant-select-selector):global(.ant-select-selector) {
  font-size: 14px;
  outline: none;
}
.thematic7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__dKkh2 {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select11:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  object-fit: cover;
  padding: 0px;
}
.select11 :global(.ant-select-selector):global(.ant-select-selector) {
  font-size: 14px;
  outline: none;
}
.thematic9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qyDib {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select19:global(.__wab_instance) {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.thematic10:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__lu9Bc {
  height: auto;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select20:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 40px;
  padding: 0px;
}
.generalDescription4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__bLgA4 {
  font-size: 14px;
  color: var(--token-35GTvURIhf58);
  font-weight: 700;
}
.textAreaInput5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-grow: 1;
}
.freeBox__hmOn7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
  min-width: 0;
  padding: 8px;
}
.freeBox__hmOn7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hmOn7 > :global(.__wab_flex-container) > *,
.freeBox__hmOn7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hmOn7 > :global(.__wab_flex-container) > picture > img,
.freeBox__hmOn7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__q0Xn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.upload3:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  align-self: stretch;
  min-height: 0;
}
.button__hoFmW:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background: var(--token-zM3FM2gxAGbs);
  min-width: 0;
  min-height: 0;
  padding: 24px;
}
.text___2VTxq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-family: var(--token-gJHLR6JwzS-t);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-35GTvURIhf58);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.text__my9Mf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-size: 14px;
  font-family: var(--token-gJHLR6JwzS-t);
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button__l5Xm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__cRtHr {
  position: relative;
  height: 1em;
}
.text__eFc0B {
  white-space: pre;
}
.svg__ky8L8 {
  position: relative;
  height: 1em;
}
.freeBox__wNZy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 32px;
}
