.dataGridOperations {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  justify-self: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: auto;
  min-width: 0;
}
.freeBox__jHKt {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 100%;
}
.header {
  display: flex;
  background: var(--token-tuR0_0-80Lkt);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
  border-bottom: 1px solid var(--token-bEYPrEi2Qmvu);
}
.freeBox__p7Fvl {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 264px;
  min-height: 0;
  padding: 12px 24px;
}
.freeBox__p7Fvl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__p7Fvl > :global(.__wab_flex-container) > *,
.freeBox__p7Fvl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p7Fvl > :global(.__wab_flex-container) > picture > img,
.freeBox__p7Fvl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jpDfG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__sN8Eb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
}
.svg__noa42 {
  object-fit: cover;
  max-width: 100%;
  color: #666;
  width: 11px;
  height: 11px;
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__dfktz {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 176px;
  min-height: 0;
  padding: 12px 24px;
}
.freeBox__dfktz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__dfktz > :global(.__wab_flex-container) > *,
.freeBox__dfktz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dfktz > :global(.__wab_flex-container) > picture > img,
.freeBox__dfktz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__a5Zs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
}
.svg___9MVnC {
  object-fit: cover;
  max-width: 100%;
  color: #666;
  width: 11px;
  height: 11px;
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__yLYza {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100px;
  min-height: 0;
  padding: 12px 24px;
}
.freeBox__yLYza > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__yLYza > :global(.__wab_flex-container) > *,
.freeBox__yLYza > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yLYza > :global(.__wab_flex-container) > picture > img,
.freeBox__yLYza
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text___077Zb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
}
.svg__nETzN {
  object-fit: cover;
  max-width: 100%;
  color: #666;
  width: 11px;
  height: 11px;
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__o6VWd {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 161px;
  min-height: 0;
  padding: 12px 24px;
}
.freeBox__o6VWd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__o6VWd > :global(.__wab_flex-container) > *,
.freeBox__o6VWd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o6VWd > :global(.__wab_flex-container) > picture > img,
.freeBox__o6VWd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text___6KHh1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
}
.svg__fNm8A {
  object-fit: cover;
  max-width: 100%;
  color: #666;
  width: 11px;
  height: 11px;
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__pxE2O {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 181px;
  min-height: 0;
  padding: 12px 24px;
}
.freeBox__pxE2O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__pxE2O > :global(.__wab_flex-container) > *,
.freeBox__pxE2O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pxE2O > :global(.__wab_flex-container) > picture > img,
.freeBox__pxE2O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__ng6Iv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
}
.svg__ttM31 {
  object-fit: cover;
  max-width: 100%;
  color: #666;
  width: 11px;
  height: 11px;
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__fEeo {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 147px;
  min-height: 0;
  padding: 12px 24px;
}
.freeBox__fEeo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__fEeo > :global(.__wab_flex-container) > *,
.freeBox__fEeo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fEeo > :global(.__wab_flex-container) > picture > img,
.freeBox__fEeo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__alJUp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
}
.svg__v7Ng0 {
  object-fit: cover;
  max-width: 100%;
  color: #666;
  width: 11px;
  height: 11px;
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__qKaw5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 160px;
  min-height: 0;
  padding: 12px 24px;
}
.text__nI01A {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 0;
  border-bottom: 1px solid var(--token-bEYPrEi2Qmvu);
}
.freeBox__t6HTu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 264px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 0;
  padding: 16px 24px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ddkLu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__m6BKv {
  height: auto;
  max-width: 100%;
  font-family: "manrope";
  color: var(--token-bqGTQwDts2Sl);
  font-size: 14px;
}
.freeBox___7I9Ux {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  width: 176px;
  min-height: 0;
  padding: 12px 24px;
}
.statutOperation:global(.__wab_instance) {
  height: auto;
  width: auto;
}
.freeBox__nwq59 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100px;
  min-height: 0;
  padding: 12px 24px;
}
.text__ctzt {
  height: auto;
  max-width: 100%;
  color: var(--token-bqGTQwDts2Sl);
  font-size: 14px;
}
.freeBox___0Tyt0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 161px;
  min-height: 0;
  padding: 12px 24px;
}
.text__bcbQt {
  height: auto;
  max-width: 100%;
  color: var(--token-bqGTQwDts2Sl);
  font-size: 14px;
}
.freeBox___6SrR1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 181px;
  min-height: 0;
  padding: 12px 24px;
}
.text___3BZyk {
  width: 160px;
  height: auto;
  max-width: 100%;
  color: var(--token-bqGTQwDts2Sl);
  flex-shrink: 0;
}
.freeBox__w7V6C {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 147px;
  min-height: 0;
  padding: 12px 24px;
}
.text__fWtO {
  height: auto;
  max-width: 100%;
  color: var(--token-bqGTQwDts2Sl);
  font-size: 14px;
}
.tableCell {
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 16px;
}
.tableCell > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.tableCell > :global(.__wab_flex-container) > *,
.tableCell > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tableCell > :global(.__wab_flex-container) > picture > img,
.tableCell
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.edit {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 8px;
  border-width: 1px;
  border-style: none;
}
.edit > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.edit > :global(.__wab_flex-container) > *,
.edit > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.edit > :global(.__wab_flex-container) > picture > img,
.edit > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__rQ668 {
  object-fit: cover;
  max-width: 100%;
  color: #343330;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
.copy {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  border-radius: 8px;
  border-width: 1px;
  border-style: none;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__ndt45 {
  object-fit: cover;
  max-width: 100%;
  color: #343330;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
._delete {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  border-radius: 8px;
  border-width: 1px;
  border-style: none;
}
._delete > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
._delete > :global(.__wab_flex-container) > *,
._delete > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._delete > :global(.__wab_flex-container) > picture > img,
._delete
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__hjs01 {
  object-fit: cover;
  max-width: 100%;
  color: #343330;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.pagination {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-tuR0_0-80Lkt);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  min-width: 0;
  padding: 5px;
}
.pagination > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.pagination > :global(.__wab_flex-container) > *,
.pagination > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pagination > :global(.__wab_flex-container) > picture > img,
.pagination
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__tohIo {
  object-fit: cover;
  max-width: 100%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__xjDwr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  max-width: 100%;
  cursor: pointer;
  flex-shrink: 0;
  padding: 8px;
}
.text__ut6MP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-bqGTQwDts2Sl);
  font-weight: 500;
  min-width: 0;
}
.svg__bdsEu {
  object-fit: cover;
  max-width: 100%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  cursor: pointer;
  height: 1em;
}
.emptyDataMsg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-bEYPrEi2Qmvu);
  min-width: 0;
  padding: 8px;
}
.text__uvLxk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
