.root {
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
  }
}
.sidebarMenu {
  background: rgba(0, 0, 0, 1);
  width: auto;
  height: 1024px;
  flex-direction: column;
  flex-shrink: 0;
  display: none;
  padding: 60px 20px 163px;
}
.sidebarMenu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.sidebarMenu > :global(.__wab_flex-container) > *,
.sidebarMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sidebarMenu > :global(.__wab_flex-container) > picture > img,
.sidebarMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu {
    height: auto;
    flex-direction: row;
    width: 100%;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: calc(0px - 60px);
    width: calc(100% + 60px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu > :global(.__wab_flex-container) > *,
  .sidebarMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sidebarMenu > :global(.__wab_flex-container) > picture > img,
  .sidebarMenu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 60px;
    margin-top: 0px;
  }
}
.logo {
  width: 110px;
  height: 58px;
  display: block;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo {
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: auto;
    min-height: 0;
  }
}
.text__pxyb4 {
  display: block;
  font-size: 35.4454460144043px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 94px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pxyb4 {
    width: auto;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
  }
}
.picto {
  transform: translate(-0.01335906982421875px, 0.4499325752258301px);
  width: 15px;
  height: 33px;
  display: block;
  position: absolute;
  top: 6px;
  left: 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .picto {
    position: relative;
    left: auto;
    top: auto;
  }
}
.img__af5Os {
  object-fit: cover;
  max-width: 100%;
  transform: scale(1.0000000405195622, -1.0000000405195622)
    rotate(100.37081956623032deg)
    translate(-0.2909526824951172px, -0.49365758895874023px);
  width: 31.71537208557129px;
  height: 8.442129135131836px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 6px;
}
.img__af5Os > picture > img {
  object-fit: cover;
}
.img___7DGq9 {
  object-fit: cover;
  max-width: 100%;
  transform: scale(1.0000000432020424, 1.0000000432020424)
    rotate(79.62917959394393deg)
    translate(0.05498170852661133px, 0.48324090242385864px);
  width: 31.71537208557129px;
  height: 8.442129135131836px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: -1px;
  left: 4px;
}
.img___7DGq9 > picture > img {
  object-fit: cover;
}
.freeBox {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
  }
}
.svg___4Gswq {
  object-fit: cover;
  max-width: 24px;
  width: 24px;
  color: var(--token-qNLjR6GKTcKw);
  cursor: pointer;
  flex-shrink: 0;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root .svg___4Gswq:hover {
    color: var(--token-_2g_WANLrir5);
  }
}
.menuLinksWrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.menuLinksWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.menuLinksWrapper > :global(.__wab_flex-container) > *,
.menuLinksWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuLinksWrapper > :global(.__wab_flex-container) > picture > img,
.menuLinksWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuLinksWrapper {
    display: none;
  }
}
.accueil:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.mainCourante:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.operations:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.frame1437254281 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: calc(-16px + 24px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 16px;
  min-width: 0;
}
.frame1437254281 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame1437254281 > :global(.__wab_flex-container) > *,
.frame1437254281 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254281 > :global(.__wab_flex-container) > picture > img,
.frame1437254281
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.sidebarMenuSublink {
  height: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  flex-shrink: 0;
}
.label {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  cursor: pointer;
}
.root .label:hover {
  color: var(--token-6iGeP5iN14mb);
}
.sidebarMenuSublink2 {
  height: 16px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.label2 {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: pointer;
}
.root .label2:hover {
  color: var(--token-6iGeP5iN14mb);
}
.bilanRetex:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.positionsSite:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.annuaire:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.parametres:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.frame1437254283 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.frame1437254283 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame1437254283 > :global(.__wab_flex-container) > *,
.frame1437254283 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254283 > :global(.__wab_flex-container) > picture > img,
.frame1437254283
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437254283 {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437254283 > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.deconnexion:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.urgenceWrapper {
  width: 24px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.statusBadge {
  background: rgba(67, 69, 77, 1);
  width: 10px;
  height: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 37.64706039428711px;
  padding: 2.5px;
}
.statusBadge > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 2.5px);
  width: calc(100% + 2.5px);
}
.statusBadge > :global(.__wab_flex-container) > *,
.statusBadge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.statusBadge > :global(.__wab_flex-container) > picture > img,
.statusBadge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2.5px;
}
.svg__q77Vd {
  object-fit: cover;
  max-width: 100%;
  color: #7849f8;
  width: 10px;
  height: 10px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text___3L8Yu {
  display: block;
  font-size: 8.125px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.statusBadge2 {
  background: rgba(226, 10, 55, 1);
  width: 10px;
  height: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 37.64706039428711px;
  padding: 2.5px;
}
.statusBadge2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 2.5px);
  width: calc(100% + 2.5px);
}
.statusBadge2 > :global(.__wab_flex-container) > *,
.statusBadge2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.statusBadge2 > :global(.__wab_flex-container) > picture > img,
.statusBadge2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2.5px;
}
.svg__qtuU8 {
  object-fit: cover;
  max-width: 100%;
  color: #7849f8;
  width: 10px;
  height: 10px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__nxHVx {
  display: block;
  font-size: 8.125px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.sidebarMenu2 {
  background: rgba(0, 0, 0, 1);
  width: auto;
  height: 1024px;
  flex-direction: column;
  flex-shrink: 0;
  display: none;
  padding: 60px 20px 163px;
}
.sidebarMenu2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.sidebarMenu2 > :global(.__wab_flex-container) > *,
.sidebarMenu2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sidebarMenu2 > :global(.__wab_flex-container) > picture > img,
.sidebarMenu2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu2 {
    height: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    left: 0;
    top: auto;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu2 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: calc(0px - 60px);
    width: calc(100% + 60px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu2 > :global(.__wab_flex-container) > *,
  .sidebarMenu2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sidebarMenu2 > :global(.__wab_flex-container) > picture > img,
  .sidebarMenu2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 60px;
    margin-top: 0px;
  }
}
.menuLinksWrapper2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.menuLinksWrapper2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.menuLinksWrapper2 > :global(.__wab_flex-container) > *,
.menuLinksWrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuLinksWrapper2 > :global(.__wab_flex-container) > picture > img,
.menuLinksWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.buttonBottomMenu__id2Rj:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__kqSx {
  position: relative;
  height: 1em;
}
.text__ioqFn {
  white-space: pre;
  padding-right: 0px;
}
.svg__hu1XT {
  position: relative;
  height: 1em;
}
.buttonBottomMenu__uWqT0:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__mWbyw {
  position: relative;
  height: 1em;
}
.text__yZl1G {
  white-space: pre;
  padding-right: 0px;
  height: auto;
}
.svg___6U6Hp {
  position: relative;
  height: 1em;
}
.buttonBottomMenu__gQf6R:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg___8HzhQ {
  position: relative;
  height: 1em;
}
.text__iDSeJ {
  white-space: pre;
  padding-right: 0px;
}
.svg___5FZYx {
  position: relative;
  height: 1em;
}
.buttonBottomMenu___2Ujqy:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__zcorA {
  position: relative;
  height: 1em;
}
.text__xzZ4L {
  white-space: pre;
  padding-right: 0px;
}
.svg__bKkZt {
  position: relative;
  height: 1em;
}
