.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-Q3QlBxkRz3lm);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-sJEG6Cg0Y-kR);
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: var(--token-fWzwXkEHCuyo);
  outline-style: none;
  text-decoration-line: none;
  font-weight: 700;
  border-radius: var(--token-uKhR2GUnW-qV);
  padding: 8px 16px;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-oLq9bUKE7y1j);
  outline-offset: 1px;
  outline-color: var(--token-0m1NdnAwVTQG);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  background: var(--token-b3hhNHu8P2ZN);
  color: var(--token-ED64V8jxQoFW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    font-size: 12px;
    min-width: auto;
    padding: 0px;
  }
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-9SSXBh4-LkEq);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-QECVFvPX2Euu);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-L2EFy2HhwIRH);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-bL9Dmy4AHFr-);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-iZwq10AWpzm2);
}
.rootcolor_white:global(.__wab_instance) {
  background: var(--token-LZu0LSKTiwJH);
}
.rootcolor_transparent:global(.__wab_instance) {
  background: none;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.roottype_secondary:global(.__wab_instance) {
  color: var(--token-Q3QlBxkRz3lm);
  background: #ece6df;
}
.roottype_secondary[data-disabled]:global(.__wab_instance) {
  color: var(--token-_VZjs3Guc654);
  background: #ece6df33;
}
.roottype_tag:global(.__wab_instance) {
  background: var(--token-zM3FM2gxAGbs);
  min-width: auto;
  justify-content: space-between;
  border-radius: 24px;
  padding: 8px 16px;
}
.roottype_tag[data-hovered]:global(.__wab_instance) {
  background: #ece6df;
}
.roottype_tertiary:global(.__wab_instance) {
  background: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 0px;
  border: 1px solid #ae8ff7;
}
.roottype_transparent:global(.__wab_instance) {
  background: none;
  padding: 0px;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-uKrNpcsJlQLV);
  font-size: var(--token-am4BldC8QW6I);
  column-gap: var(--token-oLq9bUKE7y1j);
  row-gap: 0px;
  border-radius: var(--token-nHR9pTh4qZ_m);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-am4BldC8QW6I);
  line-height: var(--token-uKrNpcsJlQLV);
  column-gap: var(--token-nHR9pTh4qZ_m);
  row-gap: 0px;
  border-radius: var(--token-nHR9pTh4qZ_m);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-u_S6d5WRuzS1);
  line-height: var(--token-wQw6IM4DbZnG);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-u_S6d5WRuzS1);
  line-height: var(--token-wQw6IM4DbZnG);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootcolor_success_type_tag:global(.__wab_instance) {
  background: #ffffff66;
  border-radius: 4px;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-V7YprvrpAWjp);
  border-radius: var(--token-uKhR2GUnW-qV);
}
.softBackgroundcolor_neutral {
  background: var(--token-1XDgcKDgB2FF);
}
.softBackgroundcolor_muted {
  background: var(--token-I9q7kxhzKQAE);
}
.softBackgroundcolor_success {
  background: var(--token-18oWo9oe9PiU);
}
.softBackgroundcolor_warning {
  background: var(--token-5SOP2h0o3pM0);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-_rufFTLYdIaA);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-uKhR2GUnW-qV);
  border: 0px solid var(--token-kq7a4MCvdyo8);
}
.bordercolor_neutral {
  border-color: var(--token-BcBaPmGNnDRd);
}
.bordercolor_muted {
  border-color: var(--token-bE_2lan_PaOF);
}
.bordercolor_success {
  border-color: var(--token-Lv3LCBVL4ME_);
}
.bordercolor_warning {
  border-color: var(--token-_l9NIB0hCzdH);
}
.bordercolor_errorDestructive {
  border-color: var(--token-03dbwsEqdacE);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 12px;
}
.root[data-hovered] .interactionEffect {
  background: var(--token-_VZjs3Guc654);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-eWn0iuicfAtm);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-xdevvNgnYEpO);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.roottype_tag[data-hovered] .interactionEffecttype_tag {
  background: #ece6df1a;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.button {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-uKhR2GUnW-qV) var(--token-LIeTR4eJS_bV);
  border: 1px solid transparent;
}
.button > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-uKhR2GUnW-qV));
  width: calc(100% + var(--token-uKhR2GUnW-qV));
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uKhR2GUnW-qV);
}
@media (min-width: 0px) and (max-width: 768px) {
  .button {
    padding: 8px;
  }
}
.buttontype_tag {
  padding: 0px;
}
.buttontype_tag > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.buttontype_tertiary {
  padding: 8px;
}
.buttontype_transparent {
  padding: 0px;
}
.buttonsize_extraSmall {
  padding: var(--token-nHR9pTh4qZ_m) var(--token-uKhR2GUnW-qV);
}
.buttonsize_small {
  padding: var(--token-uKhR2GUnW-qV) var(--token-sJEG6Cg0Y-kR);
}
.buttonsize_large {
  padding-top: var(--token-nHR9pTh4qZ_m);
  padding-bottom: var(--token-nHR9pTh4qZ_m);
}
.buttonsize_extraLarge {
  padding-left: var(--token-p0-Ch6w72D2-);
  padding-right: var(--token-p0-Ch6w72D2-);
}
.buttonroundedFull {
  padding-right: var(--token-p0-Ch6w72D2-);
  padding-left: var(--token-p0-Ch6w72D2-);
}
.freeBox__rYzrt {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__rYzrtnjGvZ {
  display: flex;
}
.slotTargetStart {
  color: #ffffff;
}
.slotTargetStartcolor_neutral {
  color: var(--token-9VW-uc2SicQn);
}
.slotTargetStartcolor_muted {
  color: var(--token-aT3VAysf9xki);
}
.slotTargetStartcolor_success {
  color: var(--token-So_Mvfas16jp);
}
.slotTargetStartcolor_warning {
  color: var(--token-mySarAgseuLS);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-vMBNDcMX07UV);
}
.slotTargetStarttype_soft {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetStarttype_bordered {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetStarttype_secondary {
  color: var(--token-Q3QlBxkRz3lm);
}
.roottype_secondary[data-disabled] .slotTargetStarttype_secondary {
  color: var(--token-XK2ezAaHkYay);
}
.slotTargetStarttype_tag {
  color: var(--token-35GTvURIhf58);
}
.slotTargetStarttype_tertiary {
  color: var(--token-Q3QlBxkRz3lm);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-am4BldC8QW6I);
}
.slotTargetStartsize_small {
  font-size: var(--token-am4BldC8QW6I);
}
.slotTargetStartsize_large {
  font-size: var(--token-u_S6d5WRuzS1);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-u_S6d5WRuzS1);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.svg__xiRk {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-4MxSKFJmrmtg);
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetLabel {
    font-size: 12px;
  }
}
.slotTargetLabelcolor_neutral {
  color: var(--token-9VW-uc2SicQn);
}
.slotTargetLabelcolor_muted {
  color: var(--token-aT3VAysf9xki);
}
.slotTargetLabelcolor_success {
  color: var(--token-So_Mvfas16jp);
}
.slotTargetLabelcolor_warning {
  color: var(--token-mySarAgseuLS);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-vMBNDcMX07UV);
}
.slotTargetLabeltype_soft {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetLabeltype_bordered {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetLabeltype_secondary {
  color: var(--token-Q3QlBxkRz3lm);
}
.roottype_secondary[data-disabled] .slotTargetLabeltype_secondary {
  color: var(--token-XK2ezAaHkYay);
}
.slotTargetLabeltype_tag {
  color: var(--token-35GTvURIhf58);
  font-weight: 400;
}
.slotTargetLabeltype_tertiary {
  color: var(--token-Q3QlBxkRz3lm);
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetLabeltype_tertiary {
    font-size: 12px;
  }
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.text__kBDrs {
  white-space: pre;
  text-align: center;
  font-weight: 500;
  color: var(--token-Q3QlBxkRz3lm);
}
.freeBox__fXnss {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.freeBoxtype_tertiary__fXnsshdfSf {
  display: none;
}
.freeBoxiconEnd__fXnssc0NZt {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-4MxSKFJmrmtg);
}
.slotTargetEndcolor_neutral {
  color: var(--token-9VW-uc2SicQn);
}
.slotTargetEndcolor_muted {
  color: var(--token-aT3VAysf9xki);
}
.slotTargetEndcolor_success {
  color: var(--token-So_Mvfas16jp);
}
.slotTargetEndcolor_warning {
  color: var(--token-mySarAgseuLS);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-vMBNDcMX07UV);
}
.slotTargetEndtype_soft {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetEndtype_bordered {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetEndtype_secondary {
  color: var(--token-Q3QlBxkRz3lm);
}
.roottype_secondary[data-disabled] .slotTargetEndtype_secondary {
  color: var(--token-XK2ezAaHkYay);
}
.slotTargetEndtype_tag {
  color: var(--token-35GTvURIhf58);
}
.slotTargetEndtype_tertiary {
  color: var(--token-Q3QlBxkRz3lm);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-am4BldC8QW6I);
}
.slotTargetEndsize_small {
  font-size: var(--token-am4BldC8QW6I);
}
.slotTargetEndsize_large {
  font-size: var(--token-u_S6d5WRuzS1);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-u_S6d5WRuzS1);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.svg__lWu2A {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
