.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  height: 100vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: none;
  }
}
.sidebarMenu {
  background: rgba(0, 0, 0, 1);
  width: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  padding: 60px 20px 163px;
}
.sidebarMenu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.sidebarMenu > :global(.__wab_flex-container) > *,
.sidebarMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sidebarMenu > :global(.__wab_flex-container) > picture > img,
.sidebarMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu {
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: calc(0px - 60px);
    width: calc(100% + 60px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu > :global(.__wab_flex-container) > *,
  .sidebarMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sidebarMenu > :global(.__wab_flex-container) > picture > img,
  .sidebarMenu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 60px;
    margin-top: 0px;
  }
}
.logo {
  display: flex;
  position: relative;
  cursor: pointer;
  flex-direction: row;
}
.logo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.logo > :global(.__wab_flex-container) > *,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo > :global(.__wab_flex-container) > picture > img,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo {
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: auto;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo > :global(.__wab_flex-container) {
    flex-direction: row;
    min-height: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo > :global(.__wab_flex-container) > *,
  .logo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .logo > :global(.__wab_flex-container) > picture > img,
  .logo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.text__boQoe {
  display: block;
  font-size: 35.4454460144043px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__boQoe {
    width: auto;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
  }
}
.img___3UTmk {
  object-fit: cover;
  position: relative;
  width: 14px;
  height: 33px;
  flex-shrink: 0;
}
.img___3UTmk > picture > img {
  object-fit: cover;
}
.freeBox___9IbgA {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9IbgA {
    display: flex;
  }
}
.svg__gizzl {
  object-fit: cover;
  max-width: 24px;
  width: 24px;
  color: var(--token-qNLjR6GKTcKw);
  cursor: pointer;
  flex-shrink: 0;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root .svg__gizzl:hover {
    color: var(--token-_2g_WANLrir5);
  }
}
.menuLinksWrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.menuLinksWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.menuLinksWrapper > :global(.__wab_flex-container) > *,
.menuLinksWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuLinksWrapper > :global(.__wab_flex-container) > picture > img,
.menuLinksWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuLinksWrapper {
    display: none;
  }
}
.frame1437254281 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: calc(-16px + 24px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 16px;
  min-width: 0;
}
.frame1437254281 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame1437254281 > :global(.__wab_flex-container) > *,
.frame1437254281 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254281 > :global(.__wab_flex-container) > picture > img,
.frame1437254281
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.sidebarMenuSublink {
  height: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  flex-shrink: 0;
}
.label {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  cursor: pointer;
}
.root .label:hover {
  color: var(--token-6iGeP5iN14mb);
}
.sidebarMenuSublink2 {
  height: 16px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.label2 {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: pointer;
}
.root .label2:hover {
  color: var(--token-6iGeP5iN14mb);
}
.buttonLeftMenu:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__rOlx5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-6iGeP5iN14mb);
  width: 17px;
  height: 17px;
}
.frame1437254283 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.frame1437254283 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame1437254283 > :global(.__wab_flex-container) > *,
.frame1437254283 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254283 > :global(.__wab_flex-container) > picture > img,
.frame1437254283
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437254283 {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437254283 > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.urgenceWrapper {
  width: 24px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.statusBadge {
  background: rgba(67, 69, 77, 1);
  width: 10px;
  height: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 37.64706039428711px;
  padding: 2.5px;
}
.statusBadge > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 2.5px);
  width: calc(100% + 2.5px);
}
.statusBadge > :global(.__wab_flex-container) > *,
.statusBadge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.statusBadge > :global(.__wab_flex-container) > picture > img,
.statusBadge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2.5px;
}
.svg___9XYkV {
  object-fit: cover;
  max-width: 100%;
  color: #7849f8;
  width: 10px;
  height: 10px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__hpmkB {
  display: block;
  font-size: 8.125px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.statusBadge2 {
  background: rgba(226, 10, 55, 1);
  width: 10px;
  height: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 37.64706039428711px;
  padding: 2.5px;
}
.statusBadge2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 2.5px);
  width: calc(100% + 2.5px);
}
.statusBadge2 > :global(.__wab_flex-container) > *,
.statusBadge2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.statusBadge2 > :global(.__wab_flex-container) > picture > img,
.statusBadge2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2.5px;
}
.svg__kfAsu {
  object-fit: cover;
  max-width: 100%;
  color: #7849f8;
  width: 10px;
  height: 10px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text___0Fu6K {
  display: block;
  font-size: 8.125px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.sidebarMenu2 {
  background: rgba(0, 0, 0, 1);
  width: auto;
  height: 1024px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 60px 20px 163px;
}
.sidebarMenu2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.sidebarMenu2 > :global(.__wab_flex-container) > *,
.sidebarMenu2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sidebarMenu2 > :global(.__wab_flex-container) > picture > img,
.sidebarMenu2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu2 {
    height: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    left: 0;
    top: auto;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu2 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: calc(0px - 60px);
    width: calc(100% + 60px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu2 > :global(.__wab_flex-container) > *,
  .sidebarMenu2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sidebarMenu2 > :global(.__wab_flex-container) > picture > img,
  .sidebarMenu2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 60px;
    margin-top: 0px;
  }
}
.logo2 {
  width: 110px;
  height: 58px;
  display: block;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo2 {
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: auto;
    min-height: 0;
  }
}
.text__ed5Hw {
  display: block;
  font-size: 35.4454460144043px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 94px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ed5Hw {
    width: auto;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
  }
}
.picto2 {
  transform: translate(-0.01335906982421875px, 0.4499325752258301px);
  width: 15px;
  height: 33px;
  display: block;
  position: absolute;
  top: 6px;
  left: 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .picto2 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.img__d310 {
  object-fit: cover;
  max-width: 100%;
  transform: scale(1.0000000405195622, -1.0000000405195622)
    rotate(100.37081956623032deg)
    translate(-0.2909526824951172px, -0.49365758895874023px);
  width: 31.71537208557129px;
  height: 8.442129135131836px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 6px;
}
.img__d310 > picture > img {
  object-fit: cover;
}
.img__bAshz {
  object-fit: cover;
  max-width: 100%;
  transform: scale(1.0000000432020424, 1.0000000432020424)
    rotate(79.62917959394393deg)
    translate(0.05498170852661133px, 0.48324090242385864px);
  width: 31.71537208557129px;
  height: 8.442129135131836px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: -1px;
  left: 4px;
}
.img__bAshz > picture > img {
  object-fit: cover;
}
.freeBox__oqQxt {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oqQxt {
    display: flex;
  }
}
.svg__fYlxe {
  object-fit: cover;
  max-width: 24px;
  width: 24px;
  color: var(--token-qNLjR6GKTcKw);
  cursor: pointer;
  flex-shrink: 0;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root .svg__fYlxe:hover {
    color: var(--token-_2g_WANLrir5);
  }
}
.menuLinksWrapper2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.menuLinksWrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.menuLinksWrapper2 > :global(.__wab_flex-container) > *,
.menuLinksWrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuLinksWrapper2 > :global(.__wab_flex-container) > picture > img,
.menuLinksWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuLinksWrapper2 {
    display: none;
  }
}
.accueil2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.mainCourante2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.operations2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.frame1437254282 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: calc(-16px + 24px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 16px;
  min-width: 0;
}
.frame1437254282 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame1437254282 > :global(.__wab_flex-container) > *,
.frame1437254282 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254282 > :global(.__wab_flex-container) > picture > img,
.frame1437254282
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.sidebarMenuSublink3 {
  height: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  flex-shrink: 0;
}
.label3 {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  cursor: pointer;
}
.root .label3:hover {
  color: var(--token-6iGeP5iN14mb);
}
.sidebarMenuSublink4 {
  height: 16px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.label4 {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: pointer;
}
.root .label4:hover {
  color: var(--token-6iGeP5iN14mb);
}
.bilanRetex2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.positionsSite2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.annuaire2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.parametres2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.frame1437254284 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.frame1437254284 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame1437254284 > :global(.__wab_flex-container) > *,
.frame1437254284 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254284 > :global(.__wab_flex-container) > picture > img,
.frame1437254284
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437254284 {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437254284 > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.deconnexion2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.urgenceWrapper2 {
  width: 24px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.statusBadge3 {
  background: rgba(67, 69, 77, 1);
  width: 10px;
  height: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 37.64706039428711px;
  padding: 2.5px;
}
.statusBadge3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 2.5px);
  width: calc(100% + 2.5px);
}
.statusBadge3 > :global(.__wab_flex-container) > *,
.statusBadge3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.statusBadge3 > :global(.__wab_flex-container) > picture > img,
.statusBadge3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2.5px;
}
.svg__qcEmV {
  object-fit: cover;
  max-width: 100%;
  color: #7849f8;
  width: 10px;
  height: 10px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__gxtL {
  display: block;
  font-size: 8.125px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.statusBadge4 {
  background: rgba(226, 10, 55, 1);
  width: 10px;
  height: 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 37.64706039428711px;
  padding: 2.5px;
}
.statusBadge4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 2.5px);
  width: calc(100% + 2.5px);
}
.statusBadge4 > :global(.__wab_flex-container) > *,
.statusBadge4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.statusBadge4 > :global(.__wab_flex-container) > picture > img,
.statusBadge4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2.5px;
}
.svg__gq57M {
  object-fit: cover;
  max-width: 100%;
  color: #7849f8;
  width: 10px;
  height: 10px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text___4Y0I {
  display: block;
  font-size: 8.125px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
