.root:global(.__wab_instance) {
  position: relative;
  background: none;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-sJEG6Cg0Y-kR);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: var(--token-fWzwXkEHCuyo);
  outline-style: none;
  text-decoration-line: none;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: var(--token-uKhR2GUnW-qV);
  padding: 0rem;
  border-width: 0px;
}
.root[data-hovered]:global(.__wab_instance) {
  color: var(--token-6iGeP5iN14mb);
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-oLq9bUKE7y1j);
  outline-offset: 1px;
  outline-color: var(--token-0m1NdnAwVTQG);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-9SSXBh4-LkEq);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-QECVFvPX2Euu);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-L2EFy2HhwIRH);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-bL9Dmy4AHFr-);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-iZwq10AWpzm2);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-uKrNpcsJlQLV);
  font-size: var(--token-am4BldC8QW6I);
  column-gap: var(--token-oLq9bUKE7y1j);
  row-gap: 0px;
  border-radius: var(--token-nHR9pTh4qZ_m);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-am4BldC8QW6I);
  line-height: var(--token-uKrNpcsJlQLV);
  column-gap: var(--token-nHR9pTh4qZ_m);
  row-gap: 0px;
  border-radius: var(--token-nHR9pTh4qZ_m);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-u_S6d5WRuzS1);
  line-height: var(--token-wQw6IM4DbZnG);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-u_S6d5WRuzS1);
  line-height: var(--token-wQw6IM4DbZnG);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-V7YprvrpAWjp);
  border-radius: var(--token-uKhR2GUnW-qV);
}
.softBackgroundcolor_neutral {
  background: var(--token-1XDgcKDgB2FF);
}
.softBackgroundcolor_muted {
  background: var(--token-I9q7kxhzKQAE);
}
.softBackgroundcolor_success {
  background: var(--token-18oWo9oe9PiU);
}
.softBackgroundcolor_warning {
  background: var(--token-5SOP2h0o3pM0);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-_rufFTLYdIaA);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-uKhR2GUnW-qV);
  border: 0px solid var(--token-kq7a4MCvdyo8);
}
.bordercolor_neutral {
  border-color: var(--token-BcBaPmGNnDRd);
}
.bordercolor_muted {
  border-color: var(--token-bE_2lan_PaOF);
}
.bordercolor_success {
  border-color: var(--token-Lv3LCBVL4ME_);
}
.bordercolor_warning {
  border-color: var(--token-_l9NIB0hCzdH);
}
.bordercolor_errorDestructive {
  border-color: var(--token-03dbwsEqdacE);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  padding-bottom: 0px;
  border-radius: var(--token-uKhR2GUnW-qV);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-_VZjs3Guc654);
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.root[data-disabled] .interactionEffect {
  background: var(--token-eWn0iuicfAtm);
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.root[data-pressed] .interactionEffect {
  background: var(--token-xdevvNgnYEpO);
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffectcolor_neutral {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffectcolor_muted {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffectcolor_success {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffectcolor_warning {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffectcolor_errorDestructive {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffecttype_soft {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffecttype_bordered {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  display: none;
}
.roottype_bordered[data-pressed] .interactionEffecttype_bordered {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffecttype_current {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffectsize_small {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffectsize_large {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.interactionEffectroundedFull {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  border-radius: 99px;
}
.interactionEffecttype_bordered_color_success {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.button {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-uKhR2GUnW-qV) 0px;
  border: 1px solid transparent;
}
.button > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-uKhR2GUnW-qV));
  width: calc(100% + var(--token-uKhR2GUnW-qV));
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uKhR2GUnW-qV);
}
.buttonsize_extraSmall {
  padding: var(--token-nHR9pTh4qZ_m) var(--token-uKhR2GUnW-qV);
}
.buttonsize_small {
  padding: var(--token-uKhR2GUnW-qV) var(--token-sJEG6Cg0Y-kR);
}
.buttonsize_large {
  padding-top: var(--token-nHR9pTh4qZ_m);
  padding-bottom: var(--token-nHR9pTh4qZ_m);
}
.buttonsize_extraLarge {
  padding-left: var(--token-p0-Ch6w72D2-);
  padding-right: var(--token-p0-Ch6w72D2-);
}
.buttonroundedFull {
  padding-right: var(--token-p0-Ch6w72D2-);
  padding-left: var(--token-p0-Ch6w72D2-);
}
.freeBox__eoAee {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.slotTargetStart {
  color: var(--token-4MxSKFJmrmtg);
}
.root[data-hovered] .slotTargetStart {
  color: var(--token-6iGeP5iN14mb);
}
.slotTargetStartcolor_neutral {
  color: var(--token-9VW-uc2SicQn);
}
.slotTargetStartcolor_muted {
  color: var(--token-aT3VAysf9xki);
}
.slotTargetStartcolor_success {
  color: var(--token-So_Mvfas16jp);
}
.slotTargetStartcolor_warning {
  color: var(--token-mySarAgseuLS);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-vMBNDcMX07UV);
}
.slotTargetStarttype_soft {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetStarttype_bordered {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetStarttype_current {
  color: var(--token-6iGeP5iN14mb);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-am4BldC8QW6I);
}
.slotTargetStartsize_small {
  font-size: var(--token-am4BldC8QW6I);
}
.slotTargetStartsize_large {
  font-size: var(--token-u_S6d5WRuzS1);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-u_S6d5WRuzS1);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-3eAIEYG0-NMz);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.svg__hKEr {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-4MxSKFJmrmtg);
}
.root[data-hovered] .slotTargetLabel {
  color: var(--token-6iGeP5iN14mb);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-9VW-uc2SicQn);
}
.slotTargetLabelcolor_muted {
  color: var(--token-aT3VAysf9xki);
}
.slotTargetLabelcolor_success {
  color: var(--token-So_Mvfas16jp);
}
.slotTargetLabelcolor_warning {
  color: var(--token-mySarAgseuLS);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-vMBNDcMX07UV);
}
.slotTargetLabeltype_soft {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetLabeltype_bordered {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetLabeltype_current {
  color: var(--token-6iGeP5iN14mb);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-3eAIEYG0-NMz);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.text__dvY0G {
  white-space: pre;
  color: #ffffff;
}
.freeBox___43LjR {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___43LjRjfVSo {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-4MxSKFJmrmtg);
}
.slotTargetEndcolor_neutral {
  color: var(--token-9VW-uc2SicQn);
}
.slotTargetEndcolor_muted {
  color: var(--token-aT3VAysf9xki);
}
.slotTargetEndcolor_success {
  color: var(--token-So_Mvfas16jp);
}
.slotTargetEndcolor_warning {
  color: var(--token-mySarAgseuLS);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-vMBNDcMX07UV);
}
.slotTargetEndtype_soft {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetEndtype_bordered {
  color: var(--token-me96PY7SZNQR);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-am4BldC8QW6I);
}
.slotTargetEndsize_small {
  font-size: var(--token-am4BldC8QW6I);
}
.slotTargetEndsize_large {
  font-size: var(--token-u_S6d5WRuzS1);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-u_S6d5WRuzS1);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-UseVaMia01uH);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-5lo3L0j-yC1j);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-QxoTy0mmcKBO);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-MDVGpvaOCmTN);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-3eAIEYG0-NMz);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-3eAIEYG0-NMz);
}
.svg__jFjYt {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
